html, body {
  height: 100%;
  width: 100%;
}
.navbar {
  background-color: #6F6E6E;
}
.navbar-logo{
  padding: 0 10px 0;
  float: left;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
.navbar-default .navbar-nav li a{
  color: #FFFFFF;
}
#home {
	background-image: url('/static/img/home.png');
  color: #FFFFFF;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
 	position: relative;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
}

#sticky-footer {
  background-color: white;
}

.pasos-header {
  font-family: 'Bungee Shade', cursive;
  -webkit-text-stroke-color: #FFFFFF;
  font-size: 100px;
  color: #FFFFFF;
}

.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}

#googleSVLocation {
  font-size: 25px;
  font-weight: 400;
}

#feature_img {
  padding: 10px;
}

#pin_location {
  padding: 0px;
  list-style: none;
}
#pano, #map {
  margin: auto;
  margin-top: 30px;
  height: 90%;
  width: 90%;
}
.santiago {
  background-image: url('/static/img/cathedral.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  }
  .currentLocation {
    background-image: url('/static/img/user_pin.png');
    background-size: cover;
    width: 30px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
  .map-title {
    font: 40px/60px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 1;
    border-radius: 3px;
    max-width: 40%;
    color: #fff;
    }
    .fa-github {
      color: black;
      width: 12px;
      height: 12px;
    }
    .about-header {
      background-image: url('/static/img/passport.jpeg');
      color: #FFFFFF;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: grey;
     	position: relative;
     	display: table;
     	top: 0;
     	left: 0;
     	width: 100%;
    	height: 50%;
    	background-size: cover;

    }

    .feature_img {
      margin: auto;
    }

    .quote {
      font-family: 'Homemade Apple', cursive;
      margin: auto;
    }
